@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin medium-screen {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin big-screen {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}
