@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$main-bg: rgb(255, 255, 255);
$grey-bg: rgba(247, 247, 247, 1);
$grey-secondary-bg: rgb(218, 216, 216);
$white-text-color: rgba(255, 255, 255, 1);
$grey-text-color: rgba(84, 84, 84, 1);
$modal-grey-text: rgba(140, 140, 140, 1);
$black-text-color: rgb(0, 0, 0);
$hover-color: rgba(255, 107, 8, 1);
$backdrop-bg: rgba(0, 0, 0, 0.56);
$main-font-family: "Roboto", sans-serif;
$mobile-font-size: 12px;
